.thankYouMessage {
  margin: 0;
}

.formSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.successMessage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  margin-bottom: 1rem;
}

.successMessage h4 {
  margin: 0;
  text-align: center;
  width: 100%; /* Ensures the text is centered */
}

.checkmark {
  font-size: 1.5rem;
  color: green;
  position: absolute;
  left: -25px; /* Position checkmark to the left of the text */
}

.formButton {
  background-color: #333; /* Light grey background */
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: rgba(90, 90, 90, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #dadada; /* Dark grey text color */
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  min-width: 150px; /* Ensure button width accommodates the text */
}

.formButton:hover {
  background-color: #e6e6e6; /* Lighter grey on hover */
  color: #717171; /* Dark grey text color */
}

.formButton:active {
  border-color: #595959; /* Dark grey border on focus */
  box-shadow: rgba(92, 92, 92, 0.5) 0 2px 5px 0;
  outline: 0;
  transform: scale(0.95);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height as needed */
}

.spinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #555555; /* Dark grey */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.formElement {
  margin: 0.2rem;
}
.hidden {
  visibility: hidden;
}

input, textarea {
  background-color: #333;
  color: #fff; /* Text color */
  border: 1px solid #555; /* Default border color */
  padding: 10px; /* Adjust padding as needed */
  border-radius: 4px; /* Optional: Rounded corners */
  outline: #ccc;
}

input.valid, textarea.valid {
  border-color: #00ff33;
  box-shadow: 0 0 5px rgba(0, 255, 51, 0.5); /* Green border and shadow for valid state */
}

input.invalid, textarea.invalid {
  border-color: red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Red border and shadow for invalid state */
}

/* Apply hover effect to both input and textarea, ensuring the border color does not change */

input.valid:hover, textarea.valid:hover {
  border-color: #00ff33;
  background-color: #464545; /* Inherit box shadow */
}

input.invalid:hover, textarea.invalid:hover {
  border-color: red;
  background-color: #464545; /* Inherit box shadow */
}

/* Style placeholder text for both input and textarea */
input::placeholder, textarea::placeholder {
  color: #ccc; /* Placeholder text color */
}

label {
  display: block; /* Make labels block-level elements */
  margin-bottom: 5px; /* Add spacing between label and input field */
}

.formError {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: red;
}

.formError h3, h4 {
  margin: 0;
  margin-top: 0.5rem;
  text-align: center;
}


.formError h4 {
  margin-bottom: 1rem;
}

.errorIcon {
  font-size: 2rem;
  color: red;
}