/* Flickering animation */

.intro {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  animation: flash-txt 8.5s linear 0s, flash-txt 8.5s linear 11s infinite; /* Run immediately and then after a delay */
  text-shadow: 2px 2px 18px rgb(4, 107, 252);
}

.innerIntro {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* max-width: 60%; */
  padding-block: 8vh;
  z-index: 2;
  /* justify-content: flex-start; */
}

.introHey {
  margin-block: 2vh;
}

.intro-name {
  margin-block: 2vh;
  display: flex;
}

#intro h1 {
  font-size: 4rem;
  
}

#intro h2 {
  font-size: 4.9rem;
  
}

#intro2 {
  font-size: 3.5rem !important;
  margin-block: 2vh;
}

#myName {
  background: -webkit-linear-gradient(rgb(150, 101, 241), rgb(228, 146, 255));
  text-shadow: -4px -2px rgb(255, 255, 255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 1000;
  text-decoration: none;
  margin-left: 1rem;
}

#myName:hover {
  background: -webkit-linear-gradient(rgb(255, 29, 29), rgb(208, 69, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 1000;
  
}


  /* animation */
  @keyframes flash-txt {
    0% {
      text-shadow: 2px 2px 18px rgb(0, 255, 81);
      color: rgb(0, 0, 0);
  }
    18% {
      text-shadow: 2px 2px 18px rgb(4, 107, 252);
      color: white;
    }
    20% {
      text-shadow: none;
      color: white;
    }
    22% {
      text-shadow: 2px 2px 18px rgb(252, 4, 231);
      color: rgb(0, 0, 0);
    }
    24% {
      text-shadow: none;
      color: white;
    }
    25% {
      text-shadow: 2px 2px 18px rgb(4, 252, 83);
      color: white;
    }
    53% {
      text-shadow: 2px 2px 18px rgb(4, 107, 252);
      color: white;
    }
    55% {
      text-shadow: none;
      color: white;
    }
    57% {
      text-shadow: 2px 2px 8px rgb(252, 4, 231);
      color: rgb(0, 0, 0);
    }
    100% {
      text-shadow: 2px 2px 8px rgb(4, 107, 252);
      color: white;
    }
  } 
  @-webkit-keyframes flash-txt {
    0% {
      text-shadow: 2px 2px 18px rgb(4, 252, 83);
      color: white;
  }
    18% {
      text-shadow: 2px 2px 18px rgb(4, 107, 252);
      color: white;
    }
    20% {
      text-shadow: none;
      color: white;
    }
    22% {
      text-shadow: 2px 2px 18px rgb(252, 4, 231);
      color: white;
    }
    24% {
      text-shadow: none;
      color: white;
    }
    25% {
      text-shadow: 2px 2px 18px rgb(4, 252, 83);
      color: white;
    }
    53% {
      text-shadow: 2px 2px 18px rgb(4, 107, 252);
      color: white;
    }
    55% {
      text-shadow: none;
      color: white;
    }
    57% {
      text-shadow: 2px 2px 8px rgb(252, 4, 231);
      color: white;
    }
    100% {
      text-shadow: 2px 2px 8px rgb(4, 107, 252);
      color: white;
    }
  } 



/* Add these styles to your existing CSS or create a new CSS file */

.jumbotron {
  position: relative;
  overflow: hidden;
  background: #000; /* Change as needed for contrast */
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent the bubbles from interfering with other interactions */
  z-index: 1;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  left: 45%;
  padding: 20px 30px;
  color: rgba(255, 255, 255, 0.628);
  font-size: 1rem;
  white-space: nowrap;
  background: radial-gradient(ellipse at center, rgba(135, 36, 255, 0.156) 0%, rgba(228, 146, 255, 0) 80%);
  animation: float-right 5s infinite linear;
  
  opacity: 0;
}

.bubble:nth-child(odd) {
  animation: float-left 5s infinite linear;
}

@keyframes float-right {
  0% {
    transform: translateX(-55vw);
    opacity: 0;
  }
  10% {
    opacity: 1; /* Fade in */
  }
  90% {
    opacity: 1; /* Stay visible */
  }
  100% {
    transform: translateX(55vw); 
    opacity: 0;
  }
}

@keyframes float-left {
  0% {
    transform: translateX(55vw);
    /* opacity: 0; */
  }
  10% {
    opacity: 1; /* Fade in */
  }
  90% {
    opacity: 1; /* Stay visible */
  }
  100% {
    transform: translateX(calc(-55vw));
    /* opacity: 0; */
  }
}